{% extends 'main/base.html' %}

{% load static %}

{% block link %}
    <link type="text/css" href="{% static 'main/css/docs.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main></main>
    <section class="docs-container">
        <h2 class="doc-title">Информация о порядке проведения независимой оценки квалификации</h2>
        <a href="#" class="docs-link">
            <div class="docs-card">
                <p class="docs-tag">постановление</p>
                <p class="docs-title">Правительства Российской Федерации №</p>
                <p class="docs-text">Правила проведения центром оценки квалификаций независимой оценки квалификации в форме профессионального экзамена, утвержденные постановлением Правительства Российской Федерации от 16 ноября 2016 г. N 1204</p>
                <p class="docs-format">PDF</p>
            </div>
        </a>
        <a href="#" class="docs-link">
            <div class="docs-card">
                <p class="docs-tag">постановление</p>
                <p class="docs-title">Правительства Российской Федерации №</p>
                <p class="docs-text">Правила проведения центром оценки квалификаций независимой оценки квалификации в форме профессионального экзамена, утвержденные постановлением Правительства Российской Федерации от 16 ноября 2016 г. N 1204</p>
                <p class="docs-format">PDF</p>
            </div>
        </a>
        <a href="#" class="docs-link">
            <div class="docs-card">
                <p class="docs-tag">постановление</p>
                <p class="docs-title">Правительства Российской Федерации №</p>
                <p class="docs-text">Правила проведения центром оценки квалификаций независимой оценки квалификации в форме профессионального экзамена, утвержденные постановлением Правительства Российской Федерации от 16 ноября 2016 г. N 1204</p>
                <p class="docs-format">PDF</p>
            </div>
        </a>
    </section>
{% endblock%}