{% extends 'main/base.html' %}

{% load static %}

{% block link %}
    <link type="text/css" href="{% static 'main/css/mk.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main></main>
    <section class="mk-container">
        <div class="mk-card">
            <img class="mk-image" src="{% static 'main/images/infoImg.png' %}" alt="">
            <h3 class="mk-title">Мастер-Класс</h3>
            <p class="mk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat voluptatum corrupti dolorem magnam dolorum error at quis saepe neque?</p>
        </div>
        <div class="mk-card">
            <img class="mk-image" src="{% static 'main/images/infoImg.png' %}" alt="">
            <h3 class="mk-title">Мастер-Класс</h3>
            <p class="mk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat voluptatum corrupti dolorem magnam dolorum error at quis saepe neque?</p>
        </div>
        <div class="mk-card">
            <img class="mk-image" src="{% static 'main/images/infoImg.png' %}" alt="">
            <h3 class="mk-title">Мастер-Класс</h3>
            <p class="mk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat voluptatum corrupti dolorem magnam dolorum error at quis saepe neque?</p>
        </div>
        <div class="mk-card">
            <img class="mk-image" src="{% static 'main/images/infoImg.png' %}" alt="">
            <h3 class="mk-title">Мастер-Класс</h3>
            <p class="mk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat voluptatum corrupti dolorem magnam dolorum error at quis saepe neque?</p>
        </div>
        <div class="mk-card">
            <img class="mk-image" src="{% static 'main/images/infoImg.png' %}" alt="">
            <h3 class="mk-title">Мастер-Класс</h3>
            <p class="mk-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat voluptatum corrupti dolorem magnam dolorum error at quis saepe neque?</p>
        </div>
    </section>
{% endblock %}